/* LOADING */
.loading-container-1 {
    height: 100vh;
    width: 100vw;
    font-family: Helvetica;
    position: fixed;
    z-index: 9999 !important;
    /* display: none; */
}

.loading-overlay-1 {
    position: fixed; /* Menetapkan posisi fixed untuk mengisi seluruh area layar */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
        255,
        255,
        255,
        0.7
    ); /* Nilai alpha (0.5) menentukan tingkat transparansi */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-1 {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader--dot-1 {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}

.loader--dot-1:first-child {
    background-color: #8cc759;
    animation-delay: 0.5s;
}

.loader--dot-1:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
}

.loader--dot-1:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
}

.loader--dot-1:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
}

.loader--dot-1:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
}

.loader--dot-1:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
}

.loader--text-1 {
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}

.loader--text-1:after {
    content: "Loading";
    font-weight: bold;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes loader {
    15% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(230px);
    }

    65% {
        transform: translateX(230px);
    }

    95% {
        transform: translateX(0);
    }
}

@keyframes loading-text {
    0% {
        content: "Loading";
    }

    25% {
        content: "Loading.";
    }

    50% {
        content: "Loading..";
    }

    75% {
        content: "Loading...";
    }
}

#table-data {
    width: 100% !important;
}

.dataTables_filter .form-control-sm {
    height: 28px !important;
}

.dataTables_length .form-control-sm {
    height: 28px !important;
    padding: 3px 12px !important;
}

.select2-selection--single {
    background: #ffffff !important;
    padding: 4px 12px !important;
    font-size: 14px !important;
    height: auto !important;
    border: 1px solid #ced4da !important;
}

.select2-selection__arrow {
    height: 36px !important;
    right: 6px !important;
}

.dropdown-toggle::after {
    top: 0px !important;
    margin-right: 3px;
}
.w-col-action {
    width: 10%;
}

.w-col-nama-pelanggan {
    min-width: 150px;
}

.w-col-tanggal {
    min-width: 100px;
}

.btn:focus,
.btn:active {
    box-shadow: none !important;
}

.form-control {
    padding-top: 0.4rem !important;
    padding-bottom: 0.4rem !important;
    padding-right: 0.6rem !important;
    padding-left: 0.6rem !important;
}

.btn-action {
    border-radius: 0.375rem !important;
    padding: 3px !important;
    width: 26px !important;
    height: 26px !important;
    min-width: 26px !important;
    min-height: 26px !important;
}

.table td,
.table th {
    height: 45px !important;
}

/* #table-data thead {
    display: none;
} */

/* login logo */
.login-logo {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 8px;
}

.login-logo img {
    width: 50px;
    height: auto;
}

.login-logo p {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    color: #111;
}

@media screen and (max-width: 600px) {
    .login-logo {
        flex-direction: column;
        text-align: center;
    }

    .login-logo img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/* SIDEBAR LOGO */
.b-brand .images {
    width: 32px !important;
    height: auto !important;
}

.text-logo {
    display: flex;
    align-items: center;
    padding: 5px;
}

.text-logo p {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

/* input group start */
.custom-file-label {
    font-weight: unset !important;
}
